spring:
  mvc:
    view:
      suffix: ".html"
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    platform: mysql
    username: root
    druid:
      password: 123456
    url: jdbc:mysql:///productmall?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    database: 0
    host: 192.168.0.105
    port: 6379
    timeout: 5000
    lettuce:
      pool:
        max-active: 8 #最大B接
        #max-wait: -1 #默认-1 最大连接阻塞等待时间
        max-idle: 3 #最大空闲连接 默认8
        min-idle: 1 #最小空闲连接
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
server:
  port: 8888