<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slk.mallprojectvue.mapper.UserMapper">
    <select id="selectSomeUsersByPage" resultType="com.slk.mallprojectvue.pojo.User">
          select * from sp_users order by id limit #{sizeNow},#{pageSize}
    </select>
    <select id="selectTotalUsers" resultType="java.lang.Integer">
          select count(*) from sp_users
    </select>
</mapper>